<html>
    <body>
        <p>The closed tickets are:</p>
        <p>
            {{#each tickets}}
            <li>Ticket Name: {{ticket_name}}</li>
            {{/each}}
        </p>
    </body>
</html>