<html>
    <body>
        <p>Welcome {{username}}</p>
        <div>
            <p><a href='/open_tickets'>View all open tickets</a></p>
        </div>
        <div>
            <p><a href='/closed_tickets'>View all closed tickets</a></p>
        </div>
        <div>
            <p><a href='/buy_ticket'>Buy ticket</a></p>
        </div>
        <div>
            <p><a href='/logout'>Logout</a></p>
        </div>
    </body>
</html>